body		{font-family: helvetica, arial, sans-serif;
			color: #d64e0c;
			margin:100px 50px;
			width: 80%;
			text-shadow:1px 1px 2px #a19fa0;
			font-size: 150%;
			font-weight: bold;
}

p			{text-align:justify;

}
a:link 		{color:#d64e0c;
}   

a:visited 	{color:#d64e0c;
} 

a:hover 	{color:#0c33f9;
}  

a:active 	{color:#0c33f9;
}  
		